#name {

    text-transform: uppercase;
    font-weight: 500;
    
}

#title {
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    text-transform: uppercase; 
    color: #000000; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

#title:hover {
    transform: scale(1.05);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it's behind other content */
}

/* Ensure video covers entire screen */
#background-video {
    min-width: 100%;
    min-height: 100%;
}

/* Styling for Unity game container */
.game-container {
    width: 100%;
    height: 100vh; /* Set height to viewport height */
    overflow: hidden; /* Hide overflowing content */
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

#team-section {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.photo-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.photo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
